# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Visual Studio cache/options directory
.vs/

# dependencies
node_modules
node_modules/
.pnp
.pnp.js

# testing
coverage

# next.js
.next/
out/
build
dist
dist/
storybook-static
storybook-static/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# turbo
.turbo

# Web workbench (sass)
.sass-cache/

# Others
~$*
*~

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
[lL]og.txt
log.txt

# Dist & Build Folders
dist
dist/
build
build/
dist-ssr
*.local

.parcel-cache

/tap/apps/app-test/info.json
/tap/apps/cash-check-clearance/info.json
/tap/apps/cash-check-inquiry/info.json
/tap/apps/finance/info.json
/tap/apps/finance-review/info.json
/tap/apps/portal/info.json
/tap/apps/sale-tax/info.json
/tap/apps/puya-handy-app-admin/info.json
/tap/apps/puya-handy-app/info.json
